{% extends 'partials/_master.twig' %}

{% block main %}

    <div class="c-masthead">
        <img src="{{ asset('images/home-background.jpg', 'theme') }}" alt="" class="c-masthead__img">
        <div class="o-wrapper">
            <div class="c-masthead__body">
                <h4 class="u-subtitle">Ezequiel Rangel</h4>
                <h1 class="u-heading">
                    Frontend &amp;
                    <br>
                    CSS Architect
                </h1>
            </div>
        </div>
    </div>
    <section id="sobre-mi" class="c-page-section">
        <div class="o-wrapper">
            <div class="o-layout o-layout--large o-layout--middle">
                <div class="o-layout__item u-1/2@desktop">
                    <h4 class="u-subtitle">01</h4>
                    <h1 class="u-title">Acerca de mí</h1>
                    <p>Appropriately maintain standards compliant total linkage with cutting-edge action items. Enthusiastically create seamless synergy rather than excellent value. Quickly promote premium strategic theme areas vis-a-vis.</p>
                    <p>Appropriately maintain standards compliant total linkage with cutting-edge action items. Enthusiastically create seamless synergy rather than excellent value.</p>
                    <img src="img/Signature.svg" width="230" alt="" />
                </div>
                <div class="o-layout__item u-1/2@desktop">
                    <span class="u-about-border"></span>
                    <img src="{{ asset('images/acerca-de-mi.jpg', 'theme') }}" width="400" alt="Imagen ilustrativa sobre mí" align="right" />
                </div>
            </div>
        </div>
    </section>
    <section id="experiencia" class="c-page-section c-page-section--alt">
        <div class="o-wrapper">
            <h4 class="u-subtitle">02</h4>
            <h1 class="u-title">Experiencia</h1>
            <ul class="c-timeline">
                <li class="c-timeline__node">
                    <div class="c-timeline__body">
                        <span class="c-timeline__meta">April 2016 - Present</span>
                        <h2 class="c-timeline__title">Geil, Danke! GmbH</h2>
                        <h3 class="c-timeline__subtitle u-subtitle">Eines Web-Studios</h3>
                        <div class="c-timeline__content">
                            <h4>Projektmanagement mit Scrum</h4>
                            <p>Ständiges Verbessern des agilen Entwicklungsprozesses beispielsweise durch Grunt, Yeoman, GIT, JIRA und BrowserStack.</p>
                        </div>
                    </div>
                </li>
                <li class="c-timeline__node">
                    <div class="c-timeline__body">
                        <span class="c-timeline__meta">November 2014 - Mars 2016</span>
                        <h2 class="c-timeline__title">Freelances</h2>
                        <h3 class="c-timeline__subtitle u-subtitle">Designer Und Autor</h3>
                        <div class="c-timeline__content">
                            <p>Konzeption, Design und Produktion von Digitalen Magazinen mit InDesign, der Adobe Digital Publishing Suite und HTML5. Co-Autorin der Fachbücher "Digitales Publizieren für Tablets" und "Adobe Digital Publishing Suite" erschienen im dpunkt.verlag.</p>
                        </div>
                    </div>
                </li>
                <li class="c-timeline__node">
                    <div class="c-timeline__body">
                        <span class="c-timeline__meta">April 2014</span>
                        <h2 class="c-timeline__title">konplan gmbh</h2>
                        <h3 class="c-timeline__subtitle u-subtitle">IT-Consultant</h3>
                        <div class="c-timeline__content">
                            <h4>Systemarchitektur, Consulting</h4>
                            <p>Konzeption und Modellierung von Systemen und APIs für Digital Publishing und Entitlement nach SOA</p>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </section>
    <section id="contacto" class="c-page-section">
        <div class="o-wrapper">
            <div class="o-layout">
                <div class="o-layout__item u-1/3@desktop">
                    <h4 class="u-subtitle">03</h4>
                    <h1 class="u-title">Contacto</h1>
                    <div class="c-social-profile">
                        <p class="c-social-profile__item">
                            Email
                            <span class="c-social-profile__data">
                                <a href="mailto:ezerangel@live.com">ezerangel@live.com</a>
                            </span>
                        </p>
                        <p class="c-social-profile__item">
                            Sígueme en
                            <span class="c-social-profile__data">
                                <a href="https://www.instagram.com/eze.rangel/" target="_blank">Instagram</a>
                                <a href="https://twitter.com/El_Semantico" target="_blank">Twitter</a>
                                <a href="https://github.com/EzeRangel" target="_blank">Github</a>
                                <a href="https://codepen.io/EzeRangel/" target="_blank">Codepen</a>
                            </span>
                        </p>
                    </div>
                </div>
                <div class="o-layout__item u-2/3@desktop">
                    <div class="u-margin-bottom-large u-margin-top-large u-padding-top-small">
                        <p>
                            Si tienes alguna idea que crees que te pueda ayudar, una pregunta o solo quieres saludar
                            envíame un mensaje; yo encantado de platicar contigo.
                        </p>
                    </div>
                    <form action="#" class="c-form">
                        <div class="c-form__field">
                            <label for="name">Nombre</label>
                            <input id="name" type="text" class="c-form__input" />
                        </div>
                        <div class="c-form__field">
                            <label for="email">Email</label>
                            <input id="email" type="email" class="c-form__input" />
                        </div>
                        <div class="c-form__field">
                            <label for="message">Mensaje</label>
                            <textarea id="message" cols="30" rows="10" class="c-form__input"></textarea>
                        </div>
                        <div class="c-form__field">
                            <button class="c-form__submit">Enviar mensaje</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock main %}

{% block bottomincludes %}
{% endblock bottomincludes %}
