{% extends 'partials/_master.twig' %}

{% block main %}

    <div class="o-wrapper">
        <div class="o-box o-box--large">
            <h5>Hola.</h5>
            <p>Este es un tema de ejemplo, prácticamente en blanco. De ahora en adelante puedes modificarlo como gustes.</p>
            <ul>
                <li>Quizá valga la pena echarle un vistazo a las opciones de Gulp.</li>
                <li>Los archivos para generar el tema se encuentran en /source</li>
                <li>El CSS del tema está basado en <a href="https://github.com/inuitcss/inuitcss" target="_bank" rel="noopener">InuitCSS</a>, estaría bien que le dieras una oportunidad a su documentación.</li>
            </ul>
        </div>
    </div>

{% endblock main %}

{% block bottomincludes %}
{% endblock bottomincludes %}
