{% extends 'partials/_master.twig' %}

{% block main %}

    <div class="c-masthead" data-stellar-background-ratio="0.5">
        <img src="{{ asset('images/home-background.jpg', 'theme') }}" alt="" class="c-masthead__img">
        <div class="o-wrapper">
            <div class="c-masthead__body">
                <h4 class="u-subtitle">Ezequiel Rangel</h4>
                <h1 class="u-heading">
                    Frontend &amp;
                    <br>
                    CSS Architect
                </h1>
            </div>
        </div>
    </div>
    <section id="sobre-mi" class="c-page-section">
        <div class="o-wrapper">
            <div class="o-layout o-layout--large o-layout--middle">
                <div class="o-layout__item u-1/2@desktop">
                    <h4 class="u-subtitle">01</h4>
                    <h1 class="u-title">Acerca de mí</h1>
                    <div class="h-50"></div>
                    <p>Appropriately maintain standards compliant total linkage with cutting-edge action items. Enthusiastically create seamless synergy rather than excellent value. Quickly promote premium strategic theme areas vis-a-vis.</p>
                    <p>Appropriately maintain standards compliant total linkage with cutting-edge action items. Enthusiastically create seamless synergy rather than excellent value.</p>
                    <div class="h-50"></div> <img src="img/Signature.svg" width="230" alt="" />
                </div>
                <div class="o-layout__item u-1/2@desktop">
                    <span class="u-about-border"></span>
                    <img src="{{ asset('images/acerca-de-mi.jpg', 'theme') }}" width="400" alt="Imagen ilustrativa sobre mí" align="right" />
                </div>
            </div>
        </div>
    </section>
{% endblock main %}

{% block bottomincludes %}
{% endblock bottomincludes %}
