{% extends 'partials/_master.twig' %}

{% block main %}

    <div class="o-wrapper">
        <div class="o-box o-box--large">
            <h5>Hola.</h5>
            <p>This is a blank example theme. Is intended for devs and theme designers, from now on you can modify it like you want.</p>
            <ul>
                <li>You may want to keep an eye in the Gulp options</li>
                <li>The source files are in the <tt>/source</tt> folder</li>
                <li>The theme's CSS is heavily based on <a href="https://github.com/inuitcss/inuitcss" target="_bank" rel="noopener">InuitCSS</a>, we recommend you to check the docs, or the theme source code ;)</li>
                <li>The <a href="https://docs.bolt.cm/3.2/getting-started/introduction">Bolt CMS</a> docs</li>
                <li>The <a href="http://twig.sensiolabs.org/doc/2.x/">Twig</a> template docs</li>
            </ul>
        </div>
    </div>

{% endblock main %}

{% block bottomincludes %}
{% endblock bottomincludes %}
