/* ==========================================================================
   #PAGE-SECTION
   ========================================================================== */

.c-page-section{
    padding: $unit-huge 0;
    position: relative;
}


.c-page-section--alt{
    background-color: $gray;
}
