<!-- Header bar -->
{% setcontent masthead = 'block/masthead' %}

<header class="c-masthead">
    <img src="{{ masthead.image|image }}" alt="{{ masthead.image.title }}" class="c-masthead__img">
    <div class="o-wrapper">
        <div class="c-masthead__body">
            <h4 class="u-subtitle">{{ masthead.title }}</h4>
            <h1 class="u-heading">
                Consultor &amp;
                <br>
                Arquitecto Frontend
            </h1>
        </div>
    </div>
</header>
