<!-- Header bar -->

<header class="c-topbar">
    <nav class="c-site-nav">
        <ul class="c-site-nav__list">
            <li class="c-site-nav__item"><a class="c-site-nav__link" href="#about">About</a></li>
            <li class="c-site-nav__item"><a class="c-site-nav__link" href="#experience">experience</a></li>
            <li class="c-site-nav__item"><a class="c-site-nav__link" href="#projects">projects</a></li>
            <li class="c-site-nav__item"><a class="c-site-nav__link" href="#contact">contact</a></li>
        </ul>
    </nav>
</header>
