{# menu(template = 'partials/_sub_menu.twig') #}
<div class="c-topbar">
    <nav class="c-site-nav">
        <ul class="c-site-nav__list">
            <li class="c-site-nav__item"><a class="c-site-nav__link" href="#sobre-mi">Sobre mí</a></li>
            <li class="c-site-nav__item"><a class="c-site-nav__link" href="#experiencia">Experiencia</a></li>
            <li class="c-site-nav__item"><a class="c-site-nav__link" href="#contacto">Contacto</a></li>
        </ul>
    </nav>
</div>
