/* ==========================================================================
   #TITLES
   ========================================================================== */

.u-heading,
.u-title{
    font-family: "Playfair Display", 'Times New Roman', Times, serif;
    color: $black;
    margin-bottom: $unit-large;
}

.u-heading{
    @include inuit-font-size(55px, 70px);

    @include mq($from: phablet){
        @include inuit-font-size(65px, 70px);
    }

    @include mq($from: tablet){
        @include inuit-font-size(80px, 70px);
    }
}

.u-subtitle{
    color: $blue;
    position: relative;
    margin-left: 40px;
    margin-bottom: $unit-small;
    letter-spacing: 1px;

    &:before{
        content: "";
        display: block;
        height: 2px;
        width: 30px;
        position: absolute;
        top: 11px;
        left: -40px;
        background-color: $blue;
    }
}
