{% extends 'partials/_master.twig' %}

{% setcontent record = 'blocks/404-not-found' %}

{% block title %}
    <title>Página no encontrada | Ezequiel Rangel</title>
{% endblock title %}

{% block header %}
{% endblock header %}

{% block main %}
    <section class="c-masthead">
        <img src="{{ record.image|image }}" alt="Imagen para el background" class="c-masthead__img">
        <div class="o-wrapper">
            <div class="c-masthead__body">
                <h4 class="u-subtitle">{{ record.title }}</h4>
                <h1 class="u-heading">
                    La página que buscas
                    <br>
                    no existe
                    <a href="/" class="u-heading-link">Regresa al inicio</a>
                </h1>
            </div>
        </div>
    </section>
{% endblock main %}
